* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

.navBar {
  display: flex;
  justify-content: space-between;
  border: 1px;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  padding: 20px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.3);
  font-family: "Open Sans", sans-serif;
  align-items: center;

}

.navBar--title {
  color: white;
  text-decoration: none;
  font-size: xx-large;
  align-self: center;
}

.navBar--cert {
  color: white;
  text-decoration: none;
  font-size: large;
  align-self: center;
  margin: 0px 30px;
}


.navBar--feedback {
  margin: 0px 30px;
  color: white;
  text-decoration: none;
  font-size: large;
  align-self: center;
}

.navBar--login {
  margin: 0px 30px;
  color: white;
  text-decoration: none;
  font-size: large;
  align-self: center;
}

.login--container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login--form {
  max-width: 60%;
  border: solid grey 1px; 
  padding: 2rem;
  border-radius: 10px;
}

.register--container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register--form {
  max-width: 60%;
  border: solid grey 1px; 
  padding: 2rem;
  border-radius: 10px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.home--text {
    max-width: 40rem;
    margin-top: 2rem;
}

.home--picture {
  max-width: 50rem;
  margin-top: 10px;
}

.home--cards {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.home--intro {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  margin-top: 10px;
}

.card {
  width: 20rem;
  background: linear-gradient(
    89.7deg,
    rgb(0, 32, 95) 2.8%,
    rgb(132, 53, 142) 97.8%
  );
  border-radius: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-size: 1rem;
  transition: transform 0.8s ease;

}

.card--image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card--content {
  padding: 20px;
  color: whitesmoke;
  margin-bottom: 10px;
}

.card--name {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1rem;
  color: azure;
}

.card--type {
  font-size: large;
  font-weight: 500;
}

.card--button {
    display: inline-block;
    background: linear-gradient(243.3deg, rgb(247, 164, 216) 35.7%, rgb(115, 102, 252) 121.6%);
    text-decoration: none;
    border-radius: 5px;
    margin-top: 0.6rem;
    padding: 5px 10px;
    color: black;
    transition: transform 0.6s ease;
}

.card--button:hover {
    transform: translateY(-3px);
}

.card:hover {
    transform: translateY(-8px);
}

.carousel--image {
  max-width: 40rem;
}

.footer {
  margin-top: auto;
}

.feedback--container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feedback--content {
    border: 1px solid grey;
    border-radius: 20px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    min-width: 36rem;
}

.feedback--textbox {
  border: 1px solid grey;
  border-radius: 5px;
}

.cardDetail--container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.cardDetail--info {
  flex: 65%;
}

.cardDetail--card{
  flex: 35%;
}
.cardDetail--image {
  width: 70%;
}